<div class="container">
    <div class="task-edit-header">
        {{ isNew ? 'Add' : 'Edit' }} Task
    </div>
    <div class="task-edit-content">
        <input type="text" 
            placeholder="Title" 
            [(ngModel)]="taskRequest.title">
        <textarea cols="30" rows="8" 
            placeholder="Description" 
            [(ngModel)]="taskRequest.description"></textarea>
        <button (click)="isNew ? addTask() : updateTask()">Save</button>
        <button (click)="deleteTask()" class="delete" *ngIf="!isNew">
            Delete
        </button>
        <button (click)="back()" class="delete" *ngIf="isNew">Cancel</button>
    </div>
</div>