<div class="container">
    <img src="../assets/home.png" alt="home" class="home-logo" (click)="goHome()">
    <div class="tabs-header">
        <button (click)="selectTab(0)" [class]="selectedIndex == 0 ? 'active' : ''">Tasks</button>
        <button (click)="selectTab(1)" [class]="selectedIndex == 1 ? 'active' : ''">Comments</button>
    </div>
    <div *ngIf="selectedIndex == 0">
        <div class="tasks-header">
            <button (click)="addUser()">+ Add User</button>
        </div>
        <div class="tasks-header">
            <button (click)="addTask()">+ Add Task</button>
        </div>
        <div class="tasks-item" *ngFor="let task of tasks" (click)="openTask(task.id)">            
            <button class="assign-button" mat-button mat-icon-button (click)="assignTask(task.id, task.user?.id)">
                <mat-icon>supervised_user_circle</mat-icon>
            </button>
            <h2>{{task.title}}</h2>
            <p>{{task.description}}</p>
        </div>
    </div>

    <div *ngIf="selectedIndex == 1">
        <div class="comments-search">
            <input type="text" placeholder="Enter a word" [(ngModel)]="filterWord">
            <button (click)="filterComments()">Search</button>
        </div>
        <div class="comments-item" *ngFor="let comment of filteredComments" (click)="openComment(comment.id)">
            <h2>{{comment.userName}}</h2>
            <h3>{{comment.content}}</h3>
        </div>
    </div>
</div>